header {
    .logo {
        width: 100px;
    }
}

.hero {
    background-color: red;

    
}
main {
    .product {
        &_inner {

            max-width: 980px;
            margin: 0 auto;
        }
    }

    .description {
        background-color: violet;

        &_inner {
            max-width: 700px;
            margin: 0 auto;
        }
    }

    .contact {
        padding: 0 0 2rem 0;
        
        &_inner {
            width: 700px;
            margin: 0 auto;
        }
    }
}

footer {
   text-align: center;
   padding: 2rem 0;
   color: #C54B3C;
   font-size: 80%;
}