header {
    .logo {
        width: 7rem;
    }
}

.hero {


    
}
main {
    .product {
        &_inner {

            max-width: 98rem;
            margin: 0 auto;
        }
    }

    .description {
        background-color: violet;

        &_inner {
            max-width: 70rem;
            margin: 0 auto;
        }
    }

    .contact {
        padding: 0 0 2rem 0;
        
        &_inner {
            max-width: 70rem;
            margin: 0 auto;
        }
    }
}

footer {
   text-align: center;
   padding: 1rem 0;
   color: #C54B3C;
   font-size: 80%;
}