:root {
  --primary_color: #7BD9BF;
  --light-grey: #F0F0F0;
  --dark-grey: #3C3D42;
  --pink: #F2A682; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--dark-grey); }

h3 {
  text-align: center; }

.inner {
  max-width: 100rem;
  margin: 0 auto;
  font-size: 1.4rem; }

main .product_item {
  background: var(--light-grey); }

main .title {
  background: var(--pink); }

main .features_heading {
  background: var(--dark-grey); }

main .contact_heading {
  background: var(--primary_color); }

main .contact_content {
  background: var(--dark-grey); }

footer {
  background: var(--primary_color); }

main .description {
  color: var(--primary_color); }

main .product {
  text-align: center; }
  main .product_list {
    display: flex;
    justify-content: space-between; }
    main .product_list_section {
      display: flex; }
    main .product_list_item {
      margin: 0 0 4rem 0; }
      main .product_list_item_image {
        background: var(--primary_color);
        width: 45px;
        height: 45px;
        border-radius: 50%;
        margin: 0 auto; }
    main .product_list_image img {
      width: 250px; }

main .features_heading {
  text-align: center;
  padding: 4rem 0;
  color: #fff; }
  main .features_heading_title {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 400%; }

main .features_title {
  color: var(--pink);
  font-size: 300%; }

main .features_item {
  display: flex;
  flex-direction: column;
  padding: 4rem 0 0 0; }

main .features_block {
  display: flex;
  align-items: center;
  margin: 0 0 4rem 0;
  line-height: 1.6; }

main .features_icon img {
  background: var(--light-grey);
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  flex-shrink: 0;
  margin: 0 4rem 0 0; }

footer {
  color: #fff;
  text-align: center;
  padding: 0.5rem 0; }
