:root {
  --primary_color: #7BD9BF;
  --light-grey: #F0F0F0;
  --dark-grey: #3C3D42;
  --pink: #F2A682; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-family: 'Open Sans', sans-serif;
  color: var(--dark-grey); }

h3 {
  text-align: center; }

img {
  width: 100%;
  max-width: 100%;
  height: auto; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

.inner {
  max-width: 100rem;
  margin: 0 auto;
  font-size: 1.4rem; }

main .product_item {
  background: var(--light-grey); }

main .title {
  background: var(--pink); }

main .features_heading {
  background: var(--dark-grey); }

main .contact_heading {
  background: var(--primary_color); }

main .contact_content {
  background: var(--dark-grey); }

footer {
  background: var(--primary_color); }

.btn {
  padding: 0.5rem; }

.icon {
  position: relative;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: var(--pink);
  margin: 0 0.5rem 0 0; }

svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: #fff;
  width: 15px; }

header {
  display: flex;
  box-sizing: border-box; }
  header .header_logo {
    margin-right: auto;
    display: flex;
    align-items: top;
    position: relative;
    width: 100px;
    overflow: hidden; }
    header .header_logo img {
      position: absolute; }
  header .user_nav {
    display: flex;
    justify-content: space-between;
    width: 30%;
    text-transform: uppercase; }
    header .user_nav a {
      padding: 2rem 0;
      color: #C6C8C7;
      text-decoration: none;
      display: block; }
      header .user_nav a:hover {
        color: var(--pink);
        border-top: 3px solid var(--pink); }

.hero {
  display: flex;
  background: url(../images/top/main.jpg);
  background-size: cover;
  height: 70vh;
  position: relative;
  color: #fff;
  overflow: hidden;
  line-height: 1.4;
  text-align: center; }
  .hero::before {
    content: '';
    position: absolute;
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -8px;
    background-color: var(--primary_color);
    filter: blur(8px);
    opacity: 0.9; }
  .hero_inner {
    margin: 0 auto;
    z-index: 10;
    display: flex;
    align-items: flex-end;
    justify-content: space-around; }
  .hero_paragraph {
    width: 40%;
    margin-right: auto;
    align-self: center;
    text-align: left;
    font-size: 1.4rem; }
    .hero_paragraph_title {
      font-weight: bold;
      text-transform: uppercase;
      font-size: 400%; }
    .hero_paragraph_txt {
      padding: 1.5rem 0;
      font-size: 130%; }
    .hero_paragraph_features_list {
      line-height: 2.5; }
      .hero_paragraph_features_list_item {
        display: flex;
        align-content: center;
        align-items: center; }
    .hero_paragraph_sns_list {
      display: flex;
      margin: 2rem 0 0 0; }
      .hero_paragraph_sns_list_item {
        margin-right: 1.5rem; }
  .hero .icon-square {
    position: relative;
    width: 30px;
    height: 30px;
    border: 2px solid #fff; }
  .hero svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: #fff; }
  .hero_image img {
    width: 50%;
    align-self: flex-end;
    margin-bottom: -4px; }

main .description {
  color: var(--primary_color);
  text-align: center;
  padding: 4rem 0; }
  main .description_heading {
    font-size: 400%;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0 0 1rem 0; }
  main .description_txt {
    font-size: 1.4rem; }

main .notification {
  padding: 4rem 0; }
  main .notification_heading {
    padding: 0 0 4rem 0;
    font-size: 200%; }
    main .notification_heading span {
      color: var(--pink); }
  main .notification_label {
    color: var(--primary_color);
    text-transform: uppercase; }
  main .notification_block {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: 0 auto; }
    main .notification_block input[type="text"] {
      border: 1px solid #E4E4E4;
      background: #EEEEEE;
      margin: 0 2rem;
      padding: 1rem;
      width: 60rem; }
    main .notification_block input[type="button"] {
      border: none;
      background: var(--pink);
      text-transform: uppercase;
      color: #fff;
      padding: 1rem 2rem;
      font-size: 80%;
      font-weight: bold; }

main .title {
  padding: 4rem 0; }
  main .title_heading {
    color: #fff;
    font-size: 300%;
    text-transform: uppercase; }
    main .title_heading:before {
      content: open-quote;
      font-size: 200%; }
    main .title_heading:after {
      content: close-quote;
      font-size: 200%; }

main .product {
  text-align: center;
  background: var(--light-grey);
  text-transform: uppercase;
  padding: 4rem 0; }
  main .product_lists {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0 0 6rem 0; }
    main .product_lists li {
      position: relative; }
    main .product_lists_item {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%); }
    main .product_lists li {
      flex-basis: top;
      font-size: 80%;
      line-height: 0;
      vertical-align: top;
      background: #fff;
      width: 26rem;
      height: 26rem;
      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1); }
    main .product_lists span {
      color: var(--pink);
      font-size: 540%;
      display: block;
      line-height: 1em;
      margin-top: -16px;
      margin-bottom: 10px; }
    main .product_lists span:before {
      margin-top: -20px; }
  main .product_title {
    color: var(--primary_color);
    padding: 2rem 0;
    font-size: 200%; }
  main .product_list {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    main .product_list_section {
      display: flex; }
    main .product_list_item {
      margin: 0 0 4rem 0;
      line-height: 1.6; }
      main .product_list_item_title {
        margin: 0 0 1rem 0;
        text-transform: uppercase;
        font-weight: bold; }
      main .product_list_item_txt {
        margin: 0 0 2rem 0; }
      main .product_list_item_image {
        background: var(--primary_color);
        width: 120px;
        height: 120px;
        border-radius: 50%;
        margin: 0 auto; }

main .features_heading {
  text-align: center;
  padding: 4rem 0;
  color: #fff; }
  main .features_heading_title {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 400%;
    margin-bottom: 2rem; }
  main .features_heading_txt {
    font-size: 140%; }

main .features_title {
  color: var(--pink);
  font-size: 250%; }

main .features_item {
  display: flex;
  flex-direction: column;
  padding: 4rem 0 0 0; }

main .features_block {
  display: flex;
  align-items: center;
  margin: 0 0 4rem 0;
  line-height: 1.6; }
  main .features_block:nth-of-type(2) .features_icon {
    order: 2; }

main .features_icon {
  flex-shrink: 0;
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  margin: 0 4rem 0 0; }
  main .features_icon img {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }

main .contact {
  text-align: center;
  color: #fff; }
  main .contact_heading {
    padding: 6rem 0;
    font-size: 400%;
    text-transform: uppercase; }
  main .contact_title {
    font-weight: 700;
    margin: 0 0 1rem 0; }
  main .contact_txt {
    font-size: 1.4rem; }
  main .contact_content {
    padding: 4rem 0;
    text-align: left; }
    main .contact_content .inner {
      width: 50%; }
    main .contact_content label {
      display: block;
      text-transform: uppercase; }
    main .contact_content input {
      width: 100%;
      border: 0;
      margin-top: 1rem;
      margin-bottom: 2rem;
      padding: 1rem; }
    main .contact_content textarea {
      margin-top: 1rem;
      width: 100%;
      border: 0; }
    main .contact_content input[type="button"] {
      background: var(--pink);
      width: 15%;
      text-transform: uppercase;
      color: #fff;
      font-weight: bold;
      margin-top: 2rem; }

footer {
  color: #fff;
  text-align: center;
  padding: 0.5rem 0; }
