:root {
    --primary_color: #7BD9BF;
    --light-grey: #F0F0F0;
    --dark-grey: #3C3D42;
    --pink: #F2A682;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--dark-grey);
}
h3 {
    text-align: center;
}