.inner {
    max-width: 100rem;
    margin: 0 auto;
    font-size: 1.4rem;
}
header {

}
.hero {

}
main {


        .product {
            &_heading {

            }
            &_item {
                background: var(--light-grey);
            }
        }

        .title {
            background: var(--pink);
        }


        .features {
            &_heading {
                background: var(--dark-grey);
            }
        }

        .contact {

            &_heading {
                background: var(--primary_color);
            }

            &_content {
                background: var(--dark-grey);
            }
        }
}
footer {
    background: var(--primary_color);
}